<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="content-section">
<div class="outer">
<div class="middle">
<div class="inner">
<div class="center" height="90%" bgcolor="blue">
                  {% if current_user.is_authenticated %}
                     {% if listed_books %}
                         <!--<table class="table table-striped table-bordered">-->
                          <table border="2" width="100%">
                           
                           
                         
                             
                           
                            {% for book in listed_books %} 
                             <tr><td> {{ book.title }} </td>
                                 <td> Contact Seller </td>
                             </tr>
                            {% endfor %}
                          </table>

		     {% endif %}
                  {% endif %}
                    <!--<h1>The Dashboard</h1>-->
                    
                    <!--<li><a href="{{ url_for('home.add_listing') }}">Add Book</a></li>
			<div></div>
                    <!--<hr class="intro-divider">
</div>
                    </ul>-->
</div>
</div>
</div>
</div>
</div>
{% endblock %}
