<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="content-section">
<div class="center" height="90%" bgcolor="blue">
                  {% if current_user.is_authenticated %}
		     <h1> Add your book lists here </h1>
                    <li><a href="{{ url_for('home.add_listing') }}">Add Book List</a></li>
			<div></div>
                    </ul>
		    <h1> Listings from other users </h1>
		    {% if lists %}
		    	LISTS FROM OTHERS
		    {% for list in lists %}
		    	<div class="post">
				<p><b>#{{ list.id }}</b></p>
				<b>
					<p class="title">
					<a href="#">
						{{ list.title }}
					</a>
					</p>
				</b>
				<div class="content">
					<p>{{ list.books }}
				</div>
				<hr>
			</div>
			{% endfor %}

		  {% endif %}
		  {% endif %}

</div>
</div>
{% endblock %}
