<!-- app/templates/home/list_listings.html-->
{% extends 'base.html' %}

{% block content %}
<span class="title"><h1>{% block title %} Listings {% endblock %}</h1></span>
    <div class="content">
        {% for post in user_post %}
            <div class="post">
                <p><b>#{{ post.id }}</b></p>
                <b>
                    <p class="title">
                        <a href="#">
                            {{ post.title }}
                        </a>
                    </p>
                </b>
                <div class="content">
                    <p>{{ post.book_title }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
