<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Vitabu Exchange</title>
 
    <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet"> 
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    -->
    <link href="../static/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Add Item</a>
                    </li>
                    <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Buy, Sell, Exchange Text Books</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addBook">
                <fieldset>
 
                    <!-- Form Name -->
                    <legend>Add books you want to sell</legend>
 
                    <!-- Title-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Title</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputTitle" type="text" placeholder="book title" class="form-control input-md">
                        </div>
                    </div>
     		    <!--Grade-->
		    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Grade/Class</label>
                        <div class="col-md-4">
			   <select name="inputGrade" id="inputGrade" class="form-control input-md">
				<option value="PP1">PP1</option>
				<option value="PP2">PP2</option>
				<option value="Grade1">Grade 1</option>
				<option value="Grade2">Grade 2</option>
				<option value="Grade3">Grade 3</option>
				<option value="Grade4">Grade 4</option>
				<option value="Grade5">Grade 5</option>
				<option value="Grade6">Class 6</option>
				<option value="Grade7">Class 7</option>
				<option value="Grade8">Class 8</option>
				<option value="Form1">Form 1</option>
				<option value="Form2">Form 2</option>
				<option value="Form3">Form 3</option>
				<option value="Form4">Form 4</option>
			   </select>
                          <!--  <input id="txtGrade" name="txtGrade" type="text" placeholder="Grade/Class" class="form-control input-md">-->
                        </div>
                    </div>
                    <!--Publisher-->
		    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Publisher</label>
                        <div class="col-md-4">
                           <!-- <input id="txtPublisher" name="inputPublisher" type="text" placeholder="Publisher" class="form-control input-md"> -->
		           <select name="inputPublisher" id="inputPublisher" class="form-control input-md">
				<option value="Longhorn Publishers">Longhorn Publishers</option>
				<option value="Oxford University Press">Oxford University Press</option>
				<option value="Spotlight Publishers (EA) LTD">Spotlight Publishers (EA) LTD</option>
				<option value="Eest Africa Educational Publishers">East Africa Educational Publishers</option>
				<option value="Targeter Publishers LTD">Targeter Publishers LTD</option>
				<option value="Africa Digital Learning">Africa Digital Learning</option>
				<option value="Biblica Kenya">Biblica Kenya</option>
				<option value="Big Books LTD">Big Books Ltd</option>
				<option value="Bookmark_Africa">Bookmark Africa</option>
				<option value="Bookpoint">Bookpoint</option>
				<option value="Catholic University">Cambridge University Press</option>
				<option value="Catholic University">Catholic University</option>
				<option value="Daystar University Research and Publication Centre">Daystar University Research and Publication Centre</option>

			   </select>
                        </div>
                    </div>
		    
		    <!--Selling/Exchange/Both-->
		    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Willing To</label>
                        <div class="col-md-4">
			   <!--<input id="txtSellEx" name="inputSellEx" type="text" placeholder="Sell, Exchange or Both" class="form-control input-md">-->
			   <select name="sellExchangeBoth" id="sellExchangeBoth" class="form-control input-md">
				<option value="sell">Sell Only</option>
				<option value="exchange">Exchange Only</option>
				<option value="both">Sell or Exchange</option>
			   </select>
                        </div>
                    </div>
		    <!--Price (KSHs)-->
		    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPrice">KES</label>
                        <div class="col-md-4">
                            <input id="txtPrice" name="txtPrice" type="text" placeholder="0.0" class="form-control input-md">
                        </div>
                    </div>	
 
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtCondition">Book Condition</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtCondition" name="bookCondition"></textarea>
                        </div>
                    </div>
 
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>
        <footer class="footer">
            <p>&copy; Vitabu 2021</p>
        </footer>
 
    </div>
</body>
 
</html>
