<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Vitabu Exchange</title>
 
    <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet"> 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    -->
    <link href="../static/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a></li>
		    <li role="presentation"><a href="/showAddBook">Add Book</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Vitabu Exchange</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Karibu !!</h1>
 
        </div>
 
 
        <footer class="footer">
            <p>&copy; Vitabu 2021</p>
        </footer>
 
    </div>
</body>
 
</html>
